{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog1.css' %}">
    </head>
    <body class="main">
        <div class="page-header row">
          <div class="col-md-2">
          </div>
          <div class="col-md-7">
            <h1>Add Post</h1>
          </div>
          <div class="col-md-3" id="add" align="center">
          <a href="{% url 'post_new' %}" class="top-menu"></a>
          
           </div>
        </div>

        <div class="container" align="center">
          <div class="content">
            <div class="row">
                <div class="col-md-8">
                  {% block content %}
                  {% endblock %}
                </div>
            </div>
          </div>
        </div>
    </body>
</html>
