{% load static %}
<html>
<head>
        <title>Contents</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

        <link rel="stylesheet" href="{% static 'css/content.css' %}">
        
</head>
<body>
    <div style="background-color: rgb(0, 0, 0);">
        <h1 style="text-align: center;"><a href="{% url 'content' %}">Contents</a></h1>
        <ul id="mainMenu">
    
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'index1' %}">Login</a></li>
            <li><a href="{% url 'index' %}">Sign Up</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>
        </div>
    {% for post in posts %}
        <div class="post">
            
            <div class="date">
                {{ post.published_date }}
            
            </div>
            <h1 id="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p id="para">{{ post.text|linebreaksbr }}</p>
            <p>
                {{ post.content|safe }}
            </p>
        </div>
    {% endfor %}
   
   
</body>
</html>