{% extends 'blog/base.html' %}

{% block content %}
<style>
  .comment {
    margin:  20px 0px 20px 20px;
}
</style>
    <div class="post">
        {% if post.published_date %}
        <br/>
            <div class="date">
              Written by: {{post.author}}<br/>
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        {% if post.author == user %}
        <br/>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a class="btn delete_post" href="{% url 'post_delete' pk=post.pk %}"><button class="btn delete">Delete Post</button></a>
          {% endif %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        {% endif %}
        <h1 style="color:#11052b">{{ post.title }}</h1>
        <p>
          {{ post.content|safe }}
      </p>
      <hr>
      {% for comment in post.comments.all %}
      {% if comment.author == user %}
      <br>
      <a class="btn btn-default" href="{% url 'comment_delete' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endif %}
      <div class="comment">
          <div class="date">
              {{ comment.created_date }}
          </div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaks }}</p>
      </div>
  {% empty %}
      <p>No comments here yet :(</p>
  {% endfor %}
{% endblock %}