h1 a {
    color:crimson;
     font-family:Arial, Helvetica, sans-serif;


}
#add{
   text-align: center;
}
.main{
  background-color: #DCDCDC;
}
.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color:crimson;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    text-align: left;

}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif, cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}


.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
